<nav>
    <NavLink class="nav-item" href="dashboard" Match="NavLinkMatch.All">
        <i class="fa-solid fa-chart-line fa-fw"></i>
        <span>Dashboard</span>
    </NavLink>
    
    <AuthorizeView Roles="Admin">
        <Authorized>
            <div class="nav-section-title">
                Administration
            </div>
            <NavLink class="nav-item" href="admin">
                <i class="fa-solid fa-shield-halved fa-fw"></i>
                <span>Admin Settings</span>
            </NavLink>
        </Authorized>
    </AuthorizeView>
    
    <div class="nav-section-title">
        Inventory
    </div>

    <NavLink class="nav-item" href="stocks">
        <i class="fa-solid fa-boxes-stacked fa-fw"></i>
        <span>Inventory</span>
    </NavLink>
    
    <NavLink class="nav-item" href="products">
        <i class="fa-solid fa-leaf fa-fw"></i>
        <span>Products</span>
    </NavLink>
    
    <div class="nav-section-title">
        Business
    </div>
    
    <NavLink class="nav-item" href="sales">
        <i class="fa-solid fa-cash-register fa-fw"></i>
        <span>Point of Sale</span>
    </NavLink>
    
    <NavLink class="nav-item" href="reports">
        <i class="fa-solid fa-file-invoice-dollar fa-fw"></i>
        <span>Reports</span>
    </NavLink>
    
    <div style="flex: 1"></div>
</nav>
