@inject ToastService ToastSvc
@implements IDisposable

@if (ToastSvc.Toasts.Any())
{
    <div class="toast-container">
        @foreach (var toast in ToastSvc.Toasts.ToList())
        {
            <div class="toast toast-@toast.Type" @key="toast.Id">
                <span class="toast-icon">
                    @if (toast.Type == "success") { <i class="fa-solid fa-circle-check"></i> }
                    else if (toast.Type == "error") { <i class="fa-solid fa-circle-xmark"></i> }
                    else { <i class="fa-solid fa-circle-info"></i> }
                </span>
                <span class="toast-message">@toast.Message</span>
                <button class="toast-close" @onclick="() => ToastSvc.Remove(toast)">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
        }
    </div>
}

@code {
    protected override void OnInitialized()
    {
        ToastSvc.OnChanged += HandleChanged;
    }

    private void HandleChanged() => InvokeAsync(StateHasChanged);

    public void Dispose()
    {
        ToastSvc.OnChanged -= HandleChanged;
    }
}
