@if (IsOpen)
{
<div class="app-offcanvas-overlay" @onclick="Close"></div>
<div class="app-offcanvas-panel @PlacementClass">
    @if (Header != null)
    {
    <div class="app-offcanvas-header">
        @Header
        <button type="button" class="modal-close" @onclick="Close"><i class="fa-solid fa-xmark"></i></button>
    </div>
    }
    <div class="app-offcanvas-body">
        @if (Content != null)
        {
            @Content
        }
    </div>
</div>
}

@code {
    [Parameter] public bool IsOpen { get; set; }
    [Parameter] public EventCallback<bool> IsOpenChanged { get; set; }
    [Parameter] public RenderFragment? Header { get; set; }
    [Parameter] public RenderFragment? Content { get; set; }
    [Parameter] public string Placement { get; set; } = "Right";

    private string PlacementClass => Placement switch
    {
        "Bottom" => "placement-bottom",
        "Left" => "placement-left",
        _ => "placement-right"
    };

    private async Task Close()
    {
        await IsOpenChanged.InvokeAsync(false);
    }
}
